<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myApp.trainingdiary"
    android:versionCode="21"
    android:versionName="0.12.2b" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="myApp.trainingdiary.AndroidApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_dairy"
        android:label="@string/app_name"
        android:theme="@style/TrTheme.Blue_black_orange"
        android:debuggable="false">
        <activity
            android:name="myApp.trainingdiary.training.TrainingActivity"
            android:label="@string/my_program" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.excercise.AddExerciseActivity"
            android:label="@string/title_activity_add_exercise" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.result.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.excercise.ExerciseActivity"
            android:label="@string/title_activity_exercise_in_training" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.statistic.StatisticActivity"
            android:label="@string/title_activity_statistic" >
        </activity>

        <activity
            android:name="myApp.trainingdiary.history.HistoryMainActivity"
            android:label="@string/title_activity_history_main_acrivity" >
        </activity>

        <activity
            android:name="myApp.trainingdiary.SuperMainActivity"
            android:label="@string/title_activity_super_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="myApp.trainingdiary.history.HistoryDetailActivity"
            android:label="@string/title_activity_history_detail" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.calculators.MaxWeightCalculatorActivity"
            android:label="@string/title_activity_max_weight_calculator" >
        </activity>
        <activity
            android:name="myApp.trainingdiary.calendar.CalendarActivity"
            android:label="@string/training_radio_button" >
        </activity>

        <receiver android:name=".utils.TimerAlarmBroadcastReceiver"/>
        <service android:name="com.telly.groundy.GroundyService"/>
    </application>

</manifest>